@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Figtree', Roboto, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  @apply flex flex-row justify-around items-center w-full max-h-12 fixed top-0 left-0 gap-3 2xl:px-80 xl:px-44 lg:px-28 transition-all ease-linear;
  backdrop-filter: blur(.5rem);
}
.nav-button {
  @apply p-4 rounded-sm hover:bg-slate-900 opacity-90 active:bg-white transition-all;
}

input, select {
  @apply rounded-md p-2 bg-slate-100 text-black font-medium text-lg focus:border-cyan-400;
}

.mainActionBtn {
  @apply bg-cyan-700 p-4 text-lg font-bold rounded-lg hover:bg-cyan-500 active:bg-cyan-600
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  input, select {
    color-scheme: light;
  }
  body {
    color: white;
    background: black;
  }
}
